/.DS_Store
/node_modules
/oh_modules
/local.properties
*.cer
*.p7b
*.p12
*.pfx
*.jks
*.keystore
*.pem
*.key
build-profile.local.json5
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
